body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

img {
    display: block;
    // width: 100%;

    max-width: 100%;
    height: auto;
  }

 .section-reviews{
     margin-left: auto;
     margin-right: auto;
     display: flex;
     align-items: center;
    padding: 80px 0 86px 0;
    min-width: 280px;


    @media screen and (min-width:768px){
        padding: 120px 0px;
        max-width: 700px ;
    }

    @media screen and (min-width:1280px){
        padding: 120px 0 130px 0;
        max-width: 1050px ;
    }
 }


 .container{
    padding: 0px 20px;
 }

 .slid{
    //  display: flex;
    //  justify-content: center;
    //  flex-wrap: wrap;
    text-align: center;

     &__foto{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
     }  
 }

 .slid__comment{
     position: relative;
    padding: 40px 50px 30px 50px;
    margin-bottom: 50px;

    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    background-color: #FAFAFA;

    &::before {
        content: '';

        position: absolute;
        top: 30px;
        left: 60px;

        display: block;
        width: 54px;
        height: 40px;
        background-image: 
        url(../images/123.svg);

        z-index: 1;
      
    }
    
    @media screen and(min-width: 786px){
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
    }

    @media screen and(min-width: 1280px){
        font-size: 16px;
        line-height: 1.86;
    }
 }


 .slid__comment--gradient{
position: relative;
    // width: 300px;
    background-size: 100% 30px;
    background-image: linear-gradient(#E1E1E1 1px, transparent 1px);
    text-align: center;
//    min-width: 180px;
//    max-width: 300px;
 

//    @media screen and (min-width:768px){
//        max-width: 525px ;
//    }

//    @media screen and (min-width:1280px){
//        max-width: 815px ;
//    }
&::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #FAFAFA;
  }
 }

 .slid__comment--style{
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
 }

 .slid__subtitle{
    font-size: 14px;
    line-height: 1.86;

    @media screen and(min-width: 786px){
        font-size: 16px;
    }

    @media screen and(min-width: 1280px){
        font-size: 20px;
    }
 }




