    $primaryTextColor: #212121;
    $textColor: #757575;
    $accentColor: #2196f3;
    $colorContacts: rgba(255, 255, 255, 0.6);
    $primaryColorWhite: #ffffff;
    $timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
 